.navbarMain {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/256/477/original/stock-and-graph-design-background-business-graph-banner-design-eps10-illustration-free-vector.jpg);
    background-size: cover;
    padding-top: 1%;
  }
  
  .headerNavbar {
      width: 100%;
  }
  
  .mainNavbar {
      width: 100%;
      height: 250px;
  }