.mainCard {
    width: 100%;
    padding-top: 50px;
}
.cardListVacancy {    
    width: 70%;
    margin-left: 11%;
    padding:3% 6%;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 20%);
    transition-duration: 0.3s;
}