.mainSozdContentContainer {

}

.mainSozdContentTittle {
  background-image: url(https://as1.ftcdn.net/v2/jpg/05/18/85/66/1000_F_518856625_wMHbJtDJAvhb3puOqZ5RxbgktCqdAI7m.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.tittleText {

}
.tittleText h1 {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.777);
}
.tittleText h3 {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.576);
}

.mainSozdContentText {
  display: flex;
  background: whitesmoke;
  padding: 5% 0;
  border-radius: 5px;
}
.mainSozdContentText h3 {
  color: rgba(0, 0, 0, 0.722);
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.mainSozdContentTextResume {
  width: 25%;
  text-align: center;
}

.mainSozdContentTextCompany {
  width: 25%;
  text-align: center;
}

.mainSozdContentTextSalary {
  width: 25%;
  text-align: center;
}

.mainSozdContentTextVacancy {
  width: 25%;
  text-align: center;
}


.mainSozdContentVacancyCard {
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    border-radius: 7px;
}

.mainSozdContentVacancyCard-OneVacancy {
    width: 22%;
    height: 170px;
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;
}
.mainSozdContentVacancyCard-OneVacancy:hover {
    width: 22.1%;
    height: 171px;
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;
}

.mainSozdContentVacancyCard-Tittle {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 600;
    color: rgba(95, 92, 92, 0.796);
    height: 35%;
}

.mainSozdContentVacancyCard-Company {
    text-align: center;
    font-weight: 700;
    color: black;
}

.mainSozdContentVacancyCard-City {
    text-align: center;
}

.mainSozdContentVacancyCard-Name {
    font-weight: 800;
    font-size: 17.5px;
    height: 50%;
    margin: auto;
    text-align: center;
}

.mainSozdContentVacancyCard-Salary {
    color: rgba(1, 168, 1, 0.736);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainSozdContentVacancyCard-Salary-Btn {
    display: flex;
    justify-content: space-between;
}
.mainSozdContentVacancyCard-Salary-Btn button {
    border: none;
    background: #1e8fffd0;
    color: whitesmoke;
    border-radius: 6px;
    transition-duration: 0.3s;
}
.mainSozdContentVacancyCard-Salary-Btn button:hover {
    border: none;
    background: rgba(1, 168, 1, 0.736);
    color: whitesmoke;
    border-radius: 6px;
}

.mainSozdContentVacancyCardBtn {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: system-ui;
    padding-bottom: 3%;
}
.mainSozdContentVacancyCardBtn button {
    border: none;
    border-radius: 7px;
    background: #5677fc;
    color: white;
    padding: 0.7% 2%;
    margin-top: 2.5%;
}
.mainSozdContentVacancyCardBtn button:hover {
    border: none;
    border-radius: 7px;
    background: #5677fcb9;
    color: white;
    padding: 0.7% 2%;
}

.mainSozdContentVacancyFooterText {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gainsboro;
    padding-bottom: 2%;
}

.mainSozdContentVacancyFooterTextTittle {
    margin-top: 3%;
}

.mainSozdContentVacancyFooterTextImg {
    margin-top: 1%;
    display: flex;
    gap: 3%
}

.mainSozdContentVacancyFooterTextImg img {
    cursor: pointer;
}

