.fotografia{
    width: 200px;
    height: 200px;
}
.inputFoto{
    width: 70px;
    height: 70px;
}
.inputText{
    display: flex;
    flex-direction:column;
}
.inputsName{
    display: flex;
}
.avatar{
    display: flex;
}